[submodule "3rdparty/networkit"]
	path = 3rdparty/networkit
	url = https://github.com/networkit/networkit.git
[submodule "3rdparty/oneTBB"]
	path = 3rdparty/oneTBB
	url = git@github.com:uxlfoundation/oneTBB.git
[submodule "3rdparty/gapbs"]
	path = 3rdparty/gapbs
	url = git@github.com:sbeamer/gapbs.git
